<extend name="public/base">

<block name="body">
<form class="layui-form layui-form-pane keyword"> 
  <div class="layui-form-item"> 

    <div class="layui-inline"> 
      <label class="layui-form-label">标题</label> 
      <div class="layui-input-inline"> 
        <input type="text" name="title" autocomplete="off" class="layui-input" placeholder="请输入标识" > 
      </div> 
    </div> 

    <div class="layui-inline"> 
      <label class="layui-form-label">标识</label> 
      <div class="layui-input-inline"> 
        <input type="text" name="name" autocomplete="off" class="layui-input" placeholder="请输入权限标识" > 
      </div> 
    </div>

    <div class="layui-inline"> 
      <label class="layui-form-label">权限组</label>
      <div class="layui-input-inline">
        <select name="group">
          <option value="">请选择权限组</option>
          <volist name="group" id="column">
            <optgroup label="{$column.title}">
              <volist name="column.group" id="item">
                <option value="{$item}">{$item}</option>
              </volist>
            </optgroup>
          </volist>
        </select>
      </div> 
    </div>  
    
    <div class="layui-inline"> 
      <type type="button" class="layui-btn" id="keyword">查询</button>
    </div>

  </div> 
</form>
<div class="layui-btn-group">
  <a class="layui-btn" href="{:url('add', ['module' => 'admin'])}">
    <i class="layui-icon">&#xe654;</i>新增后台权限
  </a>
  <a class="layui-btn" href="{:url('add', ['module' => 'home'])}">
    <i class="layui-icon">&#xe654;</i>新增前台权限
  </a>
</div> 
<table class="layui-table" data-url="{:url('')}">
</table>
<div id="page" style="text-align: center;"></div>
</block>