<extend name="public/base">

<block name="body">
<form class="layui-form" action="">

  <div class="layui-form-item">
    <label class="layui-form-label">标题</label>
    <div class="layui-input-block">
      <input type="text" name="title" required  lay-verify="required" placeholder="请输入角色标题" autocomplete="off" class="layui-input" value="{$info['title']|default=''}">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">用户类型</label>
    <div class="layui-input-block">
      <select name="type" lay-verify="required">
        <option value="1" <notempty name="info"><eq name="info.type" value="1">selected</eq></notempty>>后台管理员</option>
        <option value="2" <notempty name="info"><eq name="info.type" value="2">selected</eq></notempty>>供应商用户</option>
        <option value="3" <notempty name="info"><eq name="info.type" value="3">selected</eq></notempty>>取货者</option>
        <option value="4" <notempty name="info"><eq name="info.type" value="4">selected</eq></notempty>>司机</option>
        <option value="5" <notempty name="info"><eq name="info.type" value="5">selected</eq></notempty>>目的地商家用户</option>
      </select>
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">状态</label>
    <div class="layui-input-block">
      <select name="status" lay-verify="required">
        <option value="0" <notempty name="info"><eq name="info.status" value="0">selected</eq></notempty>>禁用</option>
        <option value="1" <notempty name="info"><eq name="info.status" value="1">selected</eq></notempty>>正常</option>
      </select>
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="submitForm">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
</block>