<extend name="public/base">

<block name="body">
<form action="" method="post">
	<div class="weui-cells__title">供货信息</div>
	<div class="weui-cells">
	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label for="" class="weui-label">供应商</label></div>
	    <div class="weui-cell__bd">
	      {$info.merchant.name}
	    </div>
	  </div>

	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label for="" class="weui-label">联系人</label></div>
	    <div class="weui-cell__bd">
	      {$info.supplier.wxname}
	    </div>
	  </div>

	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label for="" class="weui-label">联系电话</label></div>
	    <div class="weui-cell__bd">
	      {$info.supplier.mobile}
	    </div>
	  </div>

	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label for="" class="weui-label">联系地址</label></div>
	    <div class="weui-cell__bd">
	      {$info.merchant.province}{$info.merchant.city}{$info.merchant.county}{$info.merchant.supplier_address}
	    </div>
	  </div>
	</div>

	<div class="weui-cells__title">收货信息</div>
	<div class="weui-cells weui-cells_form">
	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label for="" class="weui-label">收获商家</label></div>
	    <div class="weui-cell__bd">
	      <input class="weui-input"  placeholder="请输入收获商家" name="target_name" value="{$info.target_name|default=''}">
	    </div>
	  </div>

	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label for="" class="weui-label">联系人</label></div>
	    <div class="weui-cell__bd">
	      <input class="weui-input"  placeholder="请输入联系人" name="target_username" value="{$info.target_username|default=''}">
	    </div>
	  </div>

	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label for="" class="weui-label">联系电话</label></div>
	    <div class="weui-cell__bd">
	      <input class="weui-input"  placeholder="请输入联系电话" name="target_tel" value="{$info.target_tel|default=''}">
	    </div>
	  </div>

	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label for="" class="weui-label">地址搜索</label></div>
	    <div class="weui-cell__bd">
	      <input class="weui-input"  placeholder="请输入送货地址" id="tipinput">
	    </div>
	    <div class="weui-cell__ft">
          <a href="javascript:;" class="weui-vcode-btn open-popup" data-target="#map">选择位置</a>
        </div>
	  </div>

	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label for="" class="weui-label">送货地址</label></div>
	    <div class="weui-cell__bd">
	      <input class="weui-input"  placeholder="请输入最终地址" name="target_address" value="{$info.target_address}">
	    </div>
	  </div>

	  <div class="weui-cell">
	    <div class="weui-cell__bd">
	      <textarea class="weui-textarea" placeholder="这里可以填写备注信息哟" rows="3" name="order_remark">{$info.order_remark|default=""}</textarea>
	      <div class="weui-textarea-counter"><span>0</span>/200</div>
	    </div>
	  </div>

	  <input type="hidden" name="target_lng" value="">
	  <input type="hidden" name="target_lat" value="">
	  <!-- <input type="hidden"  value=""> -->
	</div>

	<div class="weui-cells__title">货物</div>
	<div class="weui-cells">
	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label for="" class="weui-label">货物名称</label></div>
	    <div class="weui-cell__bd">
	      <input class="weui-input"  placeholder="请输入货物名称" name="target_name" value="{$info.order_product|default=''}">
	    </div>
	  </div>

	  <div class="weui-cell">
	    <div class="weui-cell__hd"><label for="" class="weui-label">是否代收货款</label></div>
	    <div class="weui-cell__bd">
	      <input type="radio" name="pay_type">是
	      <input type="radio" name="pay_type">否
	    </div>
	  </div>

	  <div class="weui-cell">
	    <div class="weui-cell__bd">
	      <div class="weui-uploader" id="webuploder" data-url="{:url('takeUpload')}" base-url="">
	        <div class="weui-uploader__hd">
	          <p class="weui-uploader__title">上传照片</p>
	          <div class="weui-uploader__info">0/0</div>
	        </div>
	        <div class="weui-uploader__bd">
	          <ul class="weui-uploader__files" id="uploaderFiles">
	            <li class="weui-uploader__file" style="background-color: #f2f2f2;"></li>
	            <li class="weui-uploader__file" style="background-color: #f2f2f2;"></li>
	            <li class="weui-uploader__file" style="background-color: #f2f2f2;"></li>
	            <li class="weui-uploader__file weui-uploader__file_status" style="background-color: #f2f2f2;">
	              <div class="weui-uploader__file-content">
	                <i class="weui-icon-warn"></i>
	              </div>
	            </li>
	            <li class="weui-uploader__file weui-uploader__file_status" style="background-color: #f2f2f2;">
	              <div class="weui-uploader__file-content">50%</div>
	            </li>
	          </ul>
	          <div class="weui-uploader__input-box">
	            <input id="uploaderInput" class="weui-uploader__input" id="picker" type="file" accept="image/*" multiple="">
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>

	</div>
	
	<div class="weui-btn-area">
	    <input type="button" class="weui-btn weui-btn_primary" id="ajaxPost" value="提交">
	</div>
</form>

<div id="map" class="weui-popup__container popup-bottom">
  <div class="weui-popup__overlay"></div>
  <div class="weui-popup__modal">
    <div class="toolbar">
      <div class="toolbar-inner">
        <a href="javascript:;" class="picker-button close-popup">关闭</a>
        <h1 class="title">选择位置</h1>
      </div>
    </div>
    <div style="height: 2.5rem;"></div>
    <div id="container" style="height: 20rem;"></div>
  </div>
</div>

</block>
<block name="script">

	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=7c45b141523c00c13256887f315ce7ec&plugin=AMap.Autocomplete,AMap.PlaceSearch"></script>
	<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
	<script type="text/javascript">
	 var map = new AMap.Map("container", {
        resizeEnable: true,
    });

    //输入提示
    var auto = new AMap.Autocomplete({
        input: "tipinput"
    });

    var placeSearch = new AMap.PlaceSearch({
        map: map
    });  
    //构造地点查询类
    AMap.event.addListener(auto, "select", select);//注册监听，当选中某条记录时会触发
    // 关键词搜索时
    function select(e) {
        placeSearch.setCity(e.poi.adcode);
        placeSearch.search(e.poi.name);  //关键字查询查询
        console.log(e);
        var real_adress = e.poi.district + e.poi.address + e.poi.name;
        var lng = e.poi.location.lng;
        var lat = e.poi.location.lat;

        setMap(real_adress, lng, lat);
    }
    AMap.event.addListener(placeSearch, 'markerClick', mark_click);

    // 当点击marker时
    function mark_click(s){
    	var real_adress = s.data.pname + s.data.cityname + s.data.adname + s.data.address + s.data.name;
    	var lng = s.data.location.lng;
    	var lat = s.data.location.lat;
    	
    	setMap(real_adress, lng, lat);
    }

   function setMap(real_adress, lng, lat){
   		$('input[name="target_lat"]').val(lat);
   		$('input[name="target_lng"]').val(lng);
   		$('input[name="target_address"]').val(real_adress);
   }
    	
</script>

</block>