<extend name="public/base">

<block name="body">
<form class="layui-form" action="">

  <div class="layui-form-item">
    <label class="layui-form-label">用户名</label>
    <div class="layui-input-block">
      <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" value="{$info.username|default=""}" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">手机号</label>
    <div class="layui-input-block">
      <input type="text" name="mobile" placeholder="请输入手机号" value="{$info.mobile|default=""}" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">密码框</label>
    <div class="layui-input-inline">
      <input type="password" name="password" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-mid layui-word-aux">密码必须大于6个字符</div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">真实姓名</label>
    <div class="layui-input-block">
      <input type="text" name="realname" placeholder="请输入真实姓名" value="{$info.realname|default=""}" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">邮箱</label>
    <div class="layui-input-block">
      <input type="text" name="email" placeholder="请输入邮箱" value="{$info.email|default=""}" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">微信昵称</label>
    <div class="layui-input-block">
      <input type="text" name="wxname" placeholder="请输入微信号" value="{$info.wxname|default=""}" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">性别</label>
    <div class="layui-input-block">
      <input type="radio" name="sex" value="0" title="保密" <notempty name="info"><eq name="info.sex" value="0">checked</eq></notempty>>
      <input type="radio" name="sex" value="1" title="男" <notempty name="info"><eq name="info.sex" value="1">checked</eq></notempty>>
      <input type="radio" name="sex" value="2" title="女" <notempty name="info"><eq name="info.sex" value="2">checked</eq></notempty>>
    </div>
  </div>

<!--   <div class="layui-form-item">
    <label class="layui-form-label">所属角色组</label>
    <div class="layui-input-block">
      <volist name="group_list" id="item">
      	<input type="checkbox" name="group_id[]" <notempty name="info"><in name="item.id" value="$info['group_id']">checked</in></notempty> value="{$item.id}" title="{$item.title}">
      </volist>
    </div>
  </div> -->

  <div class="layui-form-item">
    <label class="layui-form-label">用户类型</label>
    <div class="layui-input-block">
      <input type="radio" name="type" value="0" <notempty name="info"><eq name="info.type" value="0">checked</eq></notempty> title="游客">
      <input type="radio" name="type" value="1" <notempty name="info"><eq name="info.type" value="1">checked</eq></notempty> title="后台管理员">
      <input type="radio" name="type" value="2" <notempty name="info"><eq name="info.type" value="2">checked</eq></notempty> title="供应商用户">
      <input type="radio" name="type" value="3" <notempty name="info"><eq name="info.type" value="3">checked</eq></notempty> title="取货人用户">
      <input type="radio" name="type" value="4" <notempty name="info"><eq name="info.type" value="4">checked</eq></notempty> title="司机用户">
      <input type="radio" name="type" value="5" <notempty name="info"><eq name="info.type" value="5">checked</eq></notempty> title="目的地商家用户">
    </div>
  </div>

  <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">备注</label>
    <div class="layui-input-block">
      <textarea name="remark" placeholder="请输入内容" class="layui-textarea">{$info.remark|default=""}</textarea>
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="submitForm">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
</block>