<extend name="public/base">
<block name="css">
<style type="text/css">
.weui-media-box__title{
	font-size: 14px;
}
.weui-media-box_appmsg .weui-media-box__hd{
	width: 40px;
	height: 40px;
}
.weui-media-box {
	padding: 8px;
}
.weui-panel{
	margin-top:4px;
}
</style>
</block>
<block name="body">
<div class="weui-search-bar" id="searchBar">
  <form class="weui-search-bar__form">
    <div class="weui-search-bar__box">
      <i class="weui-icon-search"></i>
      <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
      <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
    </div>
    <label class="weui-search-bar__label" id="searchText">
      <i class="weui-icon-search"></i>
      <span>搜索</span>
    </label>
  </form>
  <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
</div>
<div class="data-list" data-url="{:url('',['order_id' => $order_id])}" data-page="1" target-body="#data-list-body">
	<div class="weui-pull-to-refresh__layer">
		<div class='weui-pull-to-refresh__preloader'></div>
		<div class="down">下拉刷新</div>
		<div class="up">释放刷新</div>
		<div class="refresh">正在刷新</div>
	</div>
	<div id="data-list-body">
		
	</div>
<!-- 	<div class="weui-loadmore">
	  	<i class="weui-loading"></i>
	  	<span class="weui-loadmore__tips">正在加载</span>
	</div> -->
</div>
</block>
