<!DOCTYPE html>
<html>
  <head>
    <title>{$meta_title}</title>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.
">

	<link rel="stylesheet" href="__STATIC__/weui/lib/weui.min.css">
	<link rel="stylesheet" href="__STATIC__/weui/css/jquery-weui.css">
	<link rel="stylesheet" href="__STATIC__/css/wechat.css">
	<block name="css"></block>
	
  </head>

  <body ontouchstart>
  	<div class="wechat-header"><a href="javascript:;" onclick="window.history.back();">返回</a></div>
  	<div class="wechat-contain">
  		<block name="body"></block>
  	</div>
  </body>
<script src="__STATIC__/weui/lib/jquery-2.1.4.js"></script>
<script src="__STATIC__/weui/lib/fastclick.js"></script>
<script>
  $(function() {
    FastClick.attach(document.body);
  });
</script>
<script src="__STATIC__/weui/js/jquery-weui.js"></script>
<block name="script"></block>
</html>
